@import '../../styles/variables.scss';

.weather {
	display: flex;
	align-items: space-between;
	margin-top: 40px;
}

.weatherCard {
	margin: 0 10px;
	width: calc(100% / 8 - 20px);
	border: 2px solid $black;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.clear {
		background: lightblue;
	}

	&.cloud {
		background: lightgray;
	}

	&.sun {
		background: orange;
	}
}