@import '../../styles/variables.scss';

div {
	text-align: center;
}

h3 {
	position: relative;
	display: inline-block;
	margin: 30px;
	@include font-size(2);
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		background-color: $primaryColor;
		height: 3px;
		width: 100%;
		border-radius: 10px;
	}
}

.weather {
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-wrap: wrap;

	.weatherCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 0 calc(100% / 8 - 20px);
		max-width: 200px;
		margin: 20px 10px;
		padding: 20px;
		border: 2px solid $black;

		&.clear {
			background: lightblue;
		}

		&.cloud {
			background: lightgray;
		}
	}
}