@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

header {
	@include flex;
	height: 25vh;

	h1 { @extend %underline; }
	
	h2 {
		@extend %underline;
		@include font-size(2);
		&::after {
			bottom: 4px;
			height: 7px;
		}
	}

}